@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media querry
//* 0-600px phone
//* 600-900 tablet  potrate
//*900-1200 tablet landscape
//*[1200-1800] is where our styles apply
//* 1800+ big desktop

// @mixin respond-phone {
//   @media screen and (max-width: 600px) {
//     @content;
//   }
// }

//!brakepoint argument
//phone
//tab-port
//tab-land
//big-desktop

//1em=16px

@mixin respond($brakepoint) {
  @if $brakepoint == phone {
    @media screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $brakepoint == tab-port {
    @media screen and (max-width: 56.25em) {
      @content; //900px
    }
  }

  @if $brakepoint == tab-land {
    @media screen and (max-width: 75em) {
      @content; //1200px
    }
  }

  @if $brakepoint == big-desktop {
    @media screen and (min-width: 112.5em) {
      @content; //1800px
    }
  }
}
